/* Start Golobal Rules  */
body {
  background-color: #f4f4f4;
  font-size: 16px;
}
h1 {
  font-size: 55px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #666;
  margin: 40px 0;
  padding: 20px;
}
.asterisk {
  font-size: 30px;
  position: absolute;
  color: red;
  right: 7px;
  top: 3px;
}
.new-ad .asterisk {
  font-size: 30px;
  position: absolute;
  color: red;
  right: 30px;
  top: 8px;
}
.input-container {
  position: relative;
}
.control-label {
  font-weight: bold;
}
.record-message {
  background: #fff;
  margin: 100px 0 40px;
  padding: 20px 10px;
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  color: #555;
}
.upper-bar {
  padding: 10px;
  background-color: #fff;
}
.upper-bar .btn{
  margin-right: 3px;
}
.my-image{
  width: 35px;
  margin-right: 10px;
}
.unactive{
  padding: 5px;
  background-color: yellow;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
}
/* End Golobal Rules */

/* Start navbar Edit  */
.navbar {
  border-radius: 0;
  margin-bottom: 0;
}
.navbar-brand {
  font-size: 1em;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover,
.dropdown-menu {
  background-color: #3498db;
}
.dropdown-menu {
  min-width: 180px;
  padding: 0;
  font-size: 1em;
  border: none;
  border-radius: 0;
}
.dropdown-menu > li > a {
  color: #fff;
  padding: 10px 15px;
}
.dropdown-menu > li > a:hover {
  padding-left: 25px;
  transition: all 0.45s ease-in-out;
  background-color: #0a83d4;
  color: #fff;
}

/* Start navbar Edit  */

/* Start Category Styling */
.item-box {
  overflow: hidden;
}
.item-box .price-tag {
  position: relative;
  background: #74b9ff;
  padding: 5px 10px;
  top: 4px;
  left: 4px;
  border-radius: 4px;
  color: white;
  font-size: 19px;
  font-weight: 600;
}
.item-box .caption {
  width: 100%;
}
.item-box .caption h3 {
  font-weight: bold;
  color: #666;
}
.item-box .caption p {
  font-size: 18px;
  color: #777;
  line-height: 1.6;
  height: 44px;
  max-height: 44px;
}
.small{
  font-weight: bold;
  font-size: 14px;
  color: #777;
}
/* End Category Styling */
/* Start Profile Styling */
.profil .panel-heading{
  background-color: #6c5ce7;
}
/* End Profile Styling */
/* Start Login Styles */
.container{
  padding-bottom: 15px;
}
.container form{
  margin: auto;
}
.login,
.signup{
  width: 380px;
}
.login-page form input {
  margin-bottom: 10px;
}
.login-page form input.btn {
  width: 100%;
}
.login-page h1 span{
  color: #b6b4b4;
  cursor: pointer;
}
.login-page [data-class="login"].selected{
  color: #0984e3;
}
.login-page [data-class="signup"].selected{
  color: #00b894;
}
.login-page .signup{
  display: none;
}
/* End Login Styles */
/* Start Profile Styling */
.info {
  margin-top: 20px;
}
.info ul {
  padding: 0;
  margin: 0;
}
.info ul li{
  padding: 10px;
}
.info ul li:nth-child(odd){
  background-color: #eee;
}
.info ul li span{
  display: inline-block;
  width: 160px;
}
.info ul li i{
  padding-right: 4px;
}
.thumbnail .date{
  font-size: 12px;
  color: #aaa;
  text-align: right;
  font-weight: bold;
}
.not-approved{
  position: relative;
}
.not-approved::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #ccc;
  opacity: .4;
}
.info .btn{
  margin-top: 10px;
}

/* End Profile Styling */
/* Start Show Items Styling */
.show-item {
  margin-top: 0px;
}
.show-item h2{
  margin: 0;
  padding: 0 0 7px;
}
.show-item p {
  padding: 10px;
}
.show-item ul {
  padding: 0;
  margin: 0;
}
.show-item ul li{
  padding: 10px;
}
.show-item ul li:nth-child(odd){
  background-color: #d3d0d08a;
}
.show-item ul li i,
.show-item ul li span{
  font-weight: bold;
}
.show-item ul li span{
  display: inline-block;
  width: 160px;
}
.show-item ul li i{
  padding-right: 4px;
}
.row .add-comment{
  margin: 0;
}
.row .add-comment .comment{
  display: block;
  margin-bottom: 10px;
  width: 60%;
  height: 100px;
  resize: none;
}
.row .add-comment .btn{
  margin-bottom: 10px;
}
.comment-box{
  margin: 10px;
}
.comment-box img {
  width: 60px;
}
.comment-box .col-sm-2{
  text-align: center;
}
.comment-box .lead {
  background-color: white;
  padding: 20px 10px;
  position: relative;
  margin-top: 25px;
}

.comment-box .col-sm-10 .lead::before {
  content: '';
  position: absolute;
  left:-10px;
  top: 0;
  border: 10px solid ;
  border-color: #fff transparent transparent transparent;
}
/* End Show Items Styling */
.custum{
  border-top: 2px solid #cccbcb;
}
hr:last-of-type{
  display: none;
}

