/* Start Golobal Rules  */
body{
    background-color: #f4f4f4;
    font-size: 16px;
}
.asterisk{
    font-size: 30px;
    position: absolute;
    color: red;
    right: 0;
    top: -15px;
}
.control-label{
    font-weight: bold ;
}
.record-message{
    background: #fff;
    margin: 100px;
    padding: 20px 10px;
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
    color: #555;
}
/* End Golobal Rules */

/* Start form  */
.login{
    width: 300px;
    margin: 100px auto;
}
.login input{
    margin-bottom: 10px;
}
.login .form-control{
    background-color: #e5e5e5;
}
.login h4 {
    color: #888;
}
/* End form  */
/* Start Bootstrap Edit  */
.navbar{
    border-radius: 0;
    margin-bottom: 0;
}
.navbar-brand{
    font-size: 1em;
}
.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:focus, 
.navbar-inverse .navbar-nav > .open > a:hover,
.dropdown-menu {
    background-color: #3498db;
}
.dropdown-menu{
    min-width: 180px;
    padding: 0;
    font-size: 1em;
    border: none;
    border-radius: 0;
}
.dropdown-menu > li > a {
    color: #fff;
    padding: 10px 15px;
}
.dropdown-menu > li > a:hover{
    padding-left: 25px;
    transition: all .45s ease-in-out;
    background-color: #0a83d4;
    color: #fff;
}
/* End Bootstrap Edit  */
/* Start Dashboard Edits  */

/* .dash-stats{
    padding-top: 100px;
} */
.dash-stats .stats{
    background-color: #eee;
    border: 1px solid #ddd;
    padding: 20px;
    font-size: 15px;
}
.dash-stats .stats span{
    display: block;
    font-size: 50px;
}
.latest{
    margin-top: 40px;
}
.dash-stats .stats{
    color: #fff;
    border-radius: 6px;
    border: none;
    text-shadow: 10px 10px 8px #000;
    box-shadow: 10px 10px 8px #333;
    margin-bottom: 20px;
    transition: .3s all ease-in;
    position: relative;
    overflow: hidden;
}
.dash-stats .stats i{
    position: absolute;
    font-size: 7rem;
    left: 25px;
    top: 30px;
}
.dash-stats .stats .info{
    float: right;
}
.dash-stats .stats:hover{
    box-shadow: 6px 8px 8px #333;
}
.dash-stats .stats a{
    color: #fff;
}
.dash-stats .stats a:hover{
    text-decoration: none;
}
.dash-stats .st-pending{
    background-color: #ff7675;
}
.dash-stats .st-members{
    background-color: #00b894;
}
.dash-stats .st-items{
    background-color: #0984e3;
}
.dash-stats .st-comments{
    background-color: #e67e22;
}
.latest .latest-user{
    margin-bottom: 0;
}
.latest .latest-user li{
    overflow: hidden;
    padding: 8px;
    margin-bottom: 6px;
}
.latest .latest-user li:nth-child(odd){
    background-color: #ccc;
}
.latest .latest-user .btn{
    padding: 4px 8px;
}
.panel-heading .panel-info{
    cursor: pointer;
}
.panel-body .latest-comments{
    display: flex;
    margin: 10px 0 20px;
    position: relative;
}
.panel-body .latest-comments .user-comment{
    font-size: 1.3rem;
    width: 80px;
    font-weight: 600;
    margin-right: 20px;
}
.panel-body .latest-comments .cmnt{
    background-color: #ccc;
    padding: 10px;
    position: relative;
    width: calc(100% - 100px);
}
.panel-body .latest-comments .cmnt::before{
    content: '';
    position: absolute;
    left: -6px;
    top: 6px;
    width: 15px;
    height: 15px;
    background-color: #ccc;
    transform: rotate(45deg);
}
.panel-body .latest-comments .cmnt i{
    position: absolute;
    right: 4px;
    bottom: 4px;
}
/* End Dashboard Edits  */
/* Start Members  */
h1{
    font-size: 55px;
    color: #666;
    margin: 40px 0;
    padding: 20px;
}
.alert-danger{
    color: red;
}
.form-control{
    position: relative;
}
.show-pass{
    position: absolute;
    right: 29px;
    top: 16px;
    opacity: .7;
    transition: all .2s;
}
.show-pass:hover{
    opacity: 1;
}
.main-table{
    box-shadow: 0 3px 12px #ccc;
}
.main-table th{
    background-color: #333;
    color: #fff;
    text-align: center;
}
.main-table td{
    background-color: #fff;
    vertical-align: middle !important;
}
.main-table .btn{
    padding: 6px 12px;
}
/* End Members  */
/* Start Categories  */
.categories .panel-heading{
    font-weight: bold;
    color: #959595;
}
.option a,
.option span{
    color: #333;
    opacity: .7;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}
.option a.active,
.option span.active{
    transition: all .3s ease;
    opacity: 1;
}
.catego{
    position: relative;
    overflow: hidden;
}
.catego:hover .hidden-buttons{
    right: 15px;
}
.catego .hidden-buttons{
    position: absolute;
    right: -150px;
    top: 15px;
    transition: all .5s ease-in-out;
}
.catego h3{
    margin: 0 0 15px;
    cursor: pointer;
    font-weight: bold;
    color: #636363;
}
.catego p{
    color: #737373;
}
.catego:last-of-type ~ hr {
    display: none;
}
.catego .visibility{
    background-color: #00b894;
}
.catego .comments{
    background-color: #e67e22;
    text-decoration: line-through;
}
.catego .adverts{
    background-color: #ff7675;
    text-decoration: line-through;
}
.catego .visibility,
.catego .comments,
.catego .adverts{
    color:#fff;
    padding: 4px 8px;
    margin-right: 5px;
    border-radius: 3px;
}
.categories .add-category{
    margin-bottom: 30px;
}

/* End Categories  */
